<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title><%=Titulo%></title>
</head>

<body>
    <!-- header -->    
    <%- include ('components/header'); -%>

    <!-- Seccion de los productos -->
    <!-- --------------------------------------------------
        primer par 
    ------------------------------------------------------- -->
    <br><br>
    <div class="contenedor">
        <div>
            <h2>Productos varios</h2>
        </div>
        <br>
        <br>
        <div class="row">
            <% ProductosOferta.forEach(function(producto){ %>
                <%- include('components/productospopulares', {producto: producto}); %>
            <% }); %>
        </div>
    </div>

    <br><br>
    <br><br><br><br>
    <div class="contenedor">
        <div>
            <h2>Productos gaming</h2>
        </div>
        <br>
        <br>
        <div class="row">
            <% ProductosOferta2.forEach(function(producto){ %>
                <%- include('components/productospopulares', {producto: producto}); %>
            <% }); %>
        </div>
    </div>

    <br><br>    
    <br><br><br><br>
    <!-- footer -->
    <%- include ('components/footer'); -%>
    <script src="/js/carrito.js"></script>    
</body>

</html>